@import "_teamBlocks.scss";
body:after{
	content: "";
	display: table;
	clear: both;
}
 a {
	text-decoration: none;
	color: black;
}
.expand {
		overflow: auto;
	>section {
		figcaption, figcaption h2, figcaption p, {
			backface-visibility: hidden;
		}
		margin:40px auto 120px;
		max-width:1200px;
		width:90%;

		display:flex;
		flex-wrap:wrap;
		justify-content:center;
		.hover {
			position:relative;
			max-width: 250px;
			width: 25%;
			color: #333;
			display: block;
		}
		.hover:nth-child(odd) {
			margin: 30px 0 -30px 0;
		}
		.fix {
			margin-top: 60px;
		}
		figcaption {
			position: absolute;
			top: 0;
			z-index: 11;
			padding-top: 10px;
			width: 100%;
			height: 100%;
			text-align: center;
			h2 {
				margin: 0 0 20px 0;
				color: #3498db;
				text-transform: uppercase;
				letter-spacing: 1px;
				font-weight: 300;
				font-size: 130%;
				transition: transform 0.3s;
				transform: translateY(50px);
			}
			p {
				padding: 0 20px;
				color: #aaa;
				font-weight: 300;
				transition: opacity 0.3s, transform 0.3s;
				transform: translateY(50px);
			}
		}
		figure {
			position: relative;
			overflow: hidden;
			margin: 5px;
			height: 400px;
			background: #333;
			img {
				position: absolute;
				top: 0;
				bottom: 0;
				left: 0;
				right: 0;
				margin: auto;
				display: block;
				width: 100%;
				opacity: 0.7;
				transition: opacity 0.3s;
			}
			.move-up {
				position: absolute;
				bottom: -36px;
				left: 0;
				z-index: 100;
				background-color: #fff;
				width: 100%;
				display: flex;
				justify-content: center;
				transition: bottom 0.3s;
				div {
					text-align: center;
					height: 100%;
					margin: 5px;
				}
				a{
					position: relative;
					z-index: 100;
				}
				a:first-child div:before {

					color: #dd4b39;
					font-size: 1.6em;
				}
				a:last-child div:before {
					color: #3B5998;
					font-size: 1.6em;
				}
			}
			.move-up:after {
				display: table;
				content: "";
				clear: both;
			}
		}
		svg {
			position: absolute;
			top: -1px;
			z-index: 10;
			display: block;
			width: 100%;
			height: 100%;
			path {
				fill: #fff;
			}
		}
		.hover:hover figure img {
			opacity: 1;
		}
		.hover:hover figcaption h2,
		.hover:hover figcaption p {
			transform: translateY(0);
		}
		.hover:hover figcaption p {
			opacity: 0;
		}
		.hover:hover .move-up {
			bottom: 0;
		}
	}
}
