<!DOCTYPE html PUBLIC "-//W3C//DTD XHTML 1.0 Transitional//EN" "http://www.w3.org/TR/xhtml1/DTD/xhtml1-transitional.dtd">

<html xmlns="http://www.w3.org/1999/xhtml" lang="en-US">

<head><% include partials/header.ejs %>
    </head>


    <body class="home page page-id-15 page-template-default">

<% include /partials/catBodyHead.ejs %>

        <!--<embed src="Music/dance.mp3" autostart=true loop=true style="height:0;width:0;display:hidden;"></embed>-->
<!--start wrapper-->
        <div id="wrapper" style="display: block;">


            <div id="homepage" class="homepage section desktop" style="height: 550px;">
                <div id="epicSlider1" class="epicSlider theme-default slider-wrapper" style="background: none;">
                    <div id="slides">
                     <!--   <img src="https://fbcdn-sphotos-d-a.akamaihd.net/hphotos-ak-xfp1/v/t1.0-9/1662676_815970215085523_939280751_n.jpg?oh=59b16e196234449ffc257d850070ee54&oe=55359351&__gda__=1425700016_385abb31a1d9c672da58a78a6db53396" alt="Slide 1" title="#homepage-caption-0" class="current" style="width: 1349px; height: 899px; left: 0px; top: -174.5px; display: inline;">
                        <img src="https://fbcdn-sphotos-d-a.akamaihd.net/hphotos-ak-xpa1/v/t1.0-9/p417x417/1656044_815970605085484_610803658_n.jpg?oh=1ec2f871dc7112a78f53f9455b668e1e&oe=554536EF&__gda__=1429767533_8773798b9e8213bfefd29a6e14149252" alt="Slide 4" title="#homepage-caption-2" style="width: 1349px; height: 899px; left: 0px; top: -174.5px;">
                      <img src="https://fbcdn-sphotos-d-a.akamaihd.net/hphotos-ak-xpa1/v/t1.0-9/p417x417/1014418_815964155086129_1182444447_n.jpg?oh=0c4f8456c1432a2e8bb20160af995bb8&oe=5506E33B&__gda__=1426348550_a8bd801177b88b54d0ceb0a7f43bd412" alt="Slide 4" title="#homepage-caption-2" style="width: 1349px; height: 899px; left: 0px; top: -174.5px;">
                        <img src="https://scontent-a-lhr.xx.fbcdn.net/hphotos-xaf1/v/t1.0-9/p417x417/1780918_815973041751907_1230696841_n.jpg?oh=88ebe41370aef3bd85f1214c2a704ba7&oe=55434F37" alt="Slide 4" title="#homepage-caption-2" style="width: 1349px; height: 899px; left: 0px; top: -174.5px;">-->
                        
                        <!-- just temporary images down-->
                        <img src="/page/dance/battleTroupeBan.png" alt="Slide 1" title="#homepage-caption-0" class="current" style="width: 1349px; height: 899px; left: 0px; top: -174.5px; display: inline;">
                        <img src="/page/dance/faceOffBan.png" alt="Slide 1" title="#homepage-caption-0" class="current" style="width: 1349px; height: 899px; left: 0px; top: -174.5px; display: inline;">
                        <img src="/page/dance/verveBan.png" alt="Slide 1" title="#homepage-caption-0" class="current" style="width: 1349px; height: 899px; left: 0px; top: -174.5px; display: inline;">
                        
                        
                        
                        
                        
                    </div>

                    <div id="epic-overlay"></div>
                </div>
            </div>
            <div id="about" class="section odd desktop">
                <div class="content clearfix"> <!-- content Box Start  -->
                
                    <div class="section-title">
                        <h2>Dance <span>Events </span></h2>
                    </div>


                    <div class="column_one_third last" style="margin-left:16em">
                        <div class="round-thumb-container " style="width:250px; max-width:100%; margin:auto;">
                            <div class="round-thumb lightbox" id="battletroupe"> <!-- add event name here in -->
                                <a title="Battle Troupe" class="lightbox" href="#">
                                    <img src="/page/dance/battleTroupeBan.png" alt="" href="#">
                                </a>
                            </div>

                        </div>
                        <h5 style="text-align: center;">Battle Troupe</h5>
                        <ul class="socialSmall" style="margin:0 auto;">
                            <li>
                                <a class="facebook" href="https://www.facebook.com/events/405250052965785/?ref=br_tf" target="_blank"></a>
                            </li>
                        </ul>
                    </div>

                    <div class="column_one_third last">
                        <div class="round-thumb-container " style="width:250px; max-width:100%; margin:auto;">
                            <div class="round-thumb lightbox" id="faceoff">  <!-- add event name here in -->
                                <a title="Event Type" class="lightbox" href="#">
                                    <img src="/page/dance/faceOff.png" alt="">
                                </a>
                            </div>

                        </div>
                        <h5 style="text-align: center;">Face off</h5>
                        <ul class="socialSmall" style="margin:0 auto;">
                            <li>
                                <a class="facebook" href="#" target="_blank"></a>
                            </li>
                        </ul>
                    </div>

               

                    <div style="clear:both;"></div>
                
            
                    <div class="column_one_third" style="margin-left: 27em;">
                        <div class="round-thumb-container " style="width:250px; max-width:100%; margin:auto;">
                            <div class="round-thumb lightbox" id="verve">  <!-- add event name here in -->
                                <a title="Event Type" class="lightbox" href="#">
                                    <img src="/page/dance/verve.png" alt="">
                                </a>
                            </div>

                        </div>
                        <h5 style="text-align: center;">Verve</h5>
                        <ul class="socialSmall" style="margin:0 auto;">
                            <li>
                                <a class="facebook" href="#" target="_blank"></a>
                            </li>
                        </ul>
                    </div>

               

                </div> <!-- content Box End  -->
            </div>
          


        </div>
        <!--end wrapper-->
        <div class="modalL modal">
            <div class="bgRules"></div>
            <div class="rulebook nano" >
                <br>
                <ol class="orderedList nano-content">
                </ol>
            </div>
            <span class="spanExitButton" >&#215;</span>
        </div>
        <div class="modalR modal"><div class="bgRulesForModalR"></div>
        </div>
        <!--start footer-->
        <% include /partials/footer.ejs %>
        <!--end footer-->
        <script type="text/javascript" src="/page/common/jquery-ui.min.js"></script>
       <% include /partials/defaultJS.ejs %>
    </body>

</html>