<!DOCTYPE html PUBLIC "-//W3C//DTD XHTML 1.0 Transitional//EN" "http://www.w3.org/TR/xhtml1/DTD/xhtml1-transitional.dtd">

<html xmlns="http://www.w3.org/1999/xhtml" lang="en-US">

<head><% include partials/header.ejs %>
    </head>


    <body class="home page page-id-15 page-template-default">

<% include /partials/catBodyHead.ejs %>

        <!--<embed src="Music/dance.mp3" autostart=true loop=true style="height:0;width:0;display:hidden;"></embed>-->
        <!--start wrapper-->
        <div id="wrapper" style="display: block;">


            <div id="homepage" class="homepage section desktop" style="height: 550px;">
                <div id="epicSlider1" class="epicSlider theme-default slider-wrapper" style="background: none;">
                    <div id="slides">
                        <img src="https://drive.google.com/a/iiitd.ac.in/uc?export=view&id=0BxM10NrmUxTdU3FNS3Zyd3NhOVU" alt="Slide 1" title="#homepage-caption-0" class="current" style="width: 1349px; height: 899px; left: 0px; top: -174.5px; display: inline;">
                        <img src="https://drive.google.com/a/iiitd.ac.in/uc?export=view&id=0BxM10NrmUxTdWDhQQkRoTGdSMWc" alt="Slide 4" title="#homepage-caption-2" style="width: 1349px; height: 899px; left: 0px; top: -174.5px;">
                      <img src="https://drive.google.com/a/iiitd.ac.in/uc?export=view&id=0BxM10NrmUxTdRlN6dG1jSS1IaG8" alt="Slide 4" title="#homepage-caption-2" style="width: 1349px; height: 899px; left: 0px; top: -174.5px;">
                    <img src="https://drive.google.com/a/iiitd.ac.in/uc?export=view&id=0BxM10NrmUxTdUnQ5MFhOa1c1LTg" alt="Slide 4" title="#homepage-caption-2" style="width: 1349px; height: 899px; left: 0px; top: -174.5px;">
                    </div>

                    <div id="epic-overlay"></div>
                </div>
            </div>
            <div id="about" class="section odd desktop">
                <div class="content clearfix"> <!-- content Box Start  -->
                
                    <div class="section-title">
                        <h2>Digital <span>Arts </span></h2>
                    </div>


                    <div class="column_one_third last" style="margin-left:16em">
                        <div class="round-thumb-container " style="width:250px; max-width:100%; margin:auto;">
                            <div class="round-thumb lightbox" id="byb"> <!-- add event name here in -->
                                <a title="byb" class="lightbox" href="#">
                                    <img src="https://drive.google.com/a/iiitd.ac.in/uc?export=view&id=0BxM10NrmUxTdVjh4Tjk2UnhkNmc" alt="" href="#">
                                </a>
                            </div>

                        </div>
                        <h5 style="text-align: center;">Build Your Brand</h5>
                        <ul class="socialSmall" style="margin:0 auto;">
                            <li>
                                <a class="facebook" href="https://www.facebook.com/events/1046885401994713/?ref=br_tf" target="_blank"></a>
                            </li>
                        </ul>
                    </div>

                    <div class="column_one_third last">
                        <div class="round-thumb-container " style="width:250px; max-width:100%; margin:auto;">
                            <div class="round-thumb lightbox" id="drk">  <!-- add event name here in -->
                                <a title="Drishtikon" class="lightbox" href="#">
                                    <img src="https://drive.google.com/a/iiitd.ac.in/uc?export=view&id=0BxM10NrmUxTdb01MVGZNNGprR1k" alt="">
                                </a>
                            </div>

                        </div>
                        <h5 style="text-align: center;">Drishtikon</h5>
                        <ul class="socialSmall" style="margin:0 auto;">
                            <li>
                                <a class="facebook" href="https://www.facebook.com/events/1532822510301187/" target="_blank"></a>
                            </li>
                        </ul>
                    </div>

               

                    <div style="clear:both;"></div>
                
            
                    <div class="column_one_third" style="margin-left: 27em;">
                        <div class="round-thumb-container " style="width:250px; max-width:100%; margin:auto;">
                            <div class="round-thumb lightbox" id="ph">  <!-- add event name here in -->
                                <a title="Photography" class="lightbox" href="#">
                                    <img src="https://drive.google.com/a/iiitd.ac.in/uc?export=view&id=0BxM10NrmUxTdcHNIMHpKTUlVTmM" alt="">
                                </a>
                            </div>

                        </div>
                        <h5 style="text-align: center;">Capt<span>cha</span></h5>
                        <ul class="socialSmall" style="margin:0 auto;">
                            <li>
                                <a class="facebook" href="#" target="_blank"></a>
                            </li>
                        </ul>
                    </div>

               
            
                    <div class="column_one_third last" style="margin-left: 27em;">
                        <div class="round-thumb-container " style="width:250px; max-width:100%; margin:auto;">
                            <div class="round-thumb lightbox" id="ve">  <!-- add event name here in -->
                                <a title="Photography" class="lightbox" href="#">
                                    <img src="https://drive.google.com/a/iiitd.ac.in/uc?export=view&id=0BxM10NrmUxTdbzRaMEtheG40eTg" alt="">
                                </a>
                            </div>

                        </div>
                        <h5 style="text-align: center;">Create<span>-O-</span>Flix</h5>
                        <ul class="socialSmall" style="margin:0 auto;">
                            <li>
                                <a class="facebook" href="#" target="_blank"></a>
                            </li>
                        </ul>
                    </div>


                </div> <!-- content Box End  -->
            </div>
          


        </div>
        <!--end wrapper-->
        <div class="modalL modal">
            <div class="bgRules"></div>
            <div class="rulebook nano" >
                <br>
                <ol class="orderedList nano-content">
                </ol>
            </div>
            <span class="spanExitButton" >&#215;</span>
        </div>
        <div class="modalR modal"><div class=" bgRulesForModalR"></div>
        </div>
        <!--start footer-->
        <% include /partials/footer.ejs %>
        <!--end footer-->
        <script src="/page/digitalarts.js"></script>
       <% include /partials/defaultJS.ejs %>
    </body>

</html>