<!DOCTYPE html PUBLIC "-//W3C//DTD XHTML 1.0 Transitional//EN" "http://www.w3.org/TR/xhtml1/DTD/xhtml1-transitional.dtd">

<html xmlns="http://www.w3.org/1999/xhtml" lang="en-US">

<head><% include partials/header.ejs %>
    </head>


    <body class="home page page-id-15 page-template-default">

<% include /partials/catBodyHead.ejs %>

        <!--<embed src="Music/dance.mp3" autostart=true loop=true style="height:0;width:0;display:hidden;"></embed>-->
        <!--start wrapper-->
        <div id="wrapper" style="display: block;">


            <div id="homepage" class="homepage section desktop" style="height: 550px;">
                <div id="epicSlider1" class="epicSlider theme-default slider-wrapper" style="background: none;">
                    <div id="slides">
                        <img src="https://drive.google.com/uc?export=view&id=0BxM10NrmUxTdeTZVelJjWldfRWM" alt="Slide 1" title="#homepage-caption-0" class="current" style="width: 1349px; height: 899px; left: 0px; top: -174.5px; display: inline;">
                        <img src="https://drive.google.com/uc?export=view&id=0BxM10NrmUxTdUmN5OHpCUHhTNTQ" alt="Slide 4" title="#homepage-caption-2" style="width: 1349px; height: 899px; left: 0px; top: -174.5px;">
                        <img src="https://drive.google.com/uc?export=view&id=0BxM10NrmUxTdcThDcE1jWlktZDQ" alt="Slide 4" title="#homepage-caption-2" style="width: 1349px; height: 899px; left: 0px; top: -174.5px;">
                        <img src="https://drive.google.com/uc?export=view&id=0BxM10NrmUxTdVWVON05FZnVjZG8" alt="Slide 4" title="#homepage-caption-2" style="width: 1349px; height: 899px; left: 0px; top: -174.5px;">
                        
                       
                    </div>



                    <div id="epic-overlay"></div>
                </div>
            </div>
            <div id="about" class="section odd desktop"><div  class="bgOfAbout"></div>
                <div class="content clearfix">
                    <!-- content Box Start  -->

                    <div class="section-title">
                        <h2>Fine <span>Arts </span></h2>
                    </div>


                    <div class="column_one_third  last tl" style="margin-left:16em">
                        <div class="round-thumb-container " style="width:250px; max-width:100%; margin:auto;">
                            <div class="round-thumb lightbox" id="artival" >
                                <!-- add event name here in -->
                                <a title="Carnival Of Art" class="lightbox"  >
                                    <img class="roundImage " href="#" src="http://drive.google.com/uc?export=view&id=0BxM10NrmUxTdQ2MtbWxKOGlLeFk"  alt="ARTIVAL" href="#">
                                </a>
                            </div>

                        </div>
                        <h5 style="text-align: center;">Artival</h5>
                        <ul class="socialSmall" style="margin:0 auto;">
                            <li>
                                <a class="facebook" href="#" target="_blank"></a>
                            </li>
                        </ul>
                    </div>

                    <div class="column_one_third last tr">
                        <div class="round-thumb-container " style="width:250px; max-width:100%; margin:auto;">
                            <div class="round-thumb lightbox" id="paintOdyssey">
                                <!-- add event name here in -->
                                <a title="Paint Odyssey" class="lightbox" >
                                    <img  class="roundImage " href="#" src="https://drive.google.com/uc?export=view&id=0BxM10NrmUxTdRmZGaXU5TVB4WW8" alt="">
                                </a>
                            </div>

                        </div>
                        <h5 style="text-align: center;">Paint <span>Odyssey</span></h5>
                        <ul class="socialSmall" style="margin:0 auto;">
                            <li>
                                <a class="facebook" href="https://www.facebook.com/events/634340833343828/?context=create&previousaction=create&source=49&sid_create=2572533557" target="_blank"></a>
                            </li>
                        </ul>
                    </div>
                    
                    <div class="column_one_third last bl">
                        <div class="round-thumb-container " style="width:250px; max-width:100%; margin:auto;">
                            <div class="round-thumb lightbox" id="biChromaticPainting">
                                <!-- add event name here in -->
                                <a title="Bi-Chromatic Painting" class="lightbox" >
                                    <img class="roundImage "   href="#" src="https://drive.google.com/uc?export=view&id=0BxM10NrmUxTdNXlUaE40ckZmdzg" alt="">
                                </a>
                            </div>

                        </div>
                        <h5 style="text-align: center;">Two<span>Tones</span></h5>
                        <ul class="socialSmall" style="margin:0 auto;">
                            <li>
                                <a class="facebook" href="https://www.facebook.com/events/794234540624021/?context=create&previousaction=create&source=49&sid_create=1750108684" target="_blank"></a>
                            </li>
                        </ul>
                    </div>
                    
                     <div class="column_one_third last br">
                        <div class="round-thumb-container " style="width:250px; max-width:100%; margin:auto;">
                            <div class="round-thumb lightbox"  href="#" id="imaginacia">
                                <!-- add event name here in -->
                                <a title="Classical Painting" class="lightbox" >
                                    <img class="roundImage "   src="https://drive.google.com/uc?export=view&id=0BxM10NrmUxTdSzBLdEJDOXFwbjA" alt="">
                                </a>
                            </div>

                        </div>
                        <h5 style="text-align: center;">Imagi<span>nacia</span></h5>
                        <ul class="socialSmall" style="margin:0 auto;">
                            <li>
                                <a class="facebook" href="https://www.facebook.com/events/1522053194735997/" target="_blank"></a>
                            </li>
                        </ul>
                    </div>


                    <div style="clear:both;"></div>

                    <style>
                    .bl{
                        margin-left: 210px;
                    }
                    </style>

                </div>
                <!-- content Box End  -->
            </div>



        </div>
        <!--end wrapper-->
        <div class="modalL modal">
            <div class="bgRules"></div>
            <div class="rulebook nano" >
                <br>
                <ol class="orderedList nano-content">
                </ol>
            </div>
            <span class="spanExitButton" >&#215;</span>
        </div>
        <div class="modalR modal"><div class=" bgRulesForModalR"></div>
        </div>
        <!--start footer-->
        <% include /partials/footer.ejs %>
        <!--end footer-->
        <script src="/page/finearts/finearts.js"></script>
       <% include /partials/defaultJS.ejs %>
    </body>

</html>