<!DOCTYPE html PUBLIC "-//W3C//DTD XHTML 1.0 Transitional//EN" "http://www.w3.org/TR/xhtml1/DTD/xhtml1-transitional.dtd">

<html xmlns="http://www.w3.org/1999/xhtml" lang="en-US">

<head><% include partials/header.ejs %>
    </head>


    <body class="home page page-id-15 page-template-default">

<% include /partials/catBodyHead.ejs %>

        <!--<embed src="Music/dance.mp3" autostart=true loop=true style="height:0;width:0;display:hidden;"></embed>-->
        <!--start wrapper-->
        <div id="wrapper" style="display: block;">


            <div id="homepage" class="homepage section desktop" style="height: 550px;">
                <div id="epicSlider1" class="epicSlider theme-default slider-wrapper" style="background: none;">
                    <div id="slides">
                        <img src="/page/music/ahBan.png" alt="Slide 1" title="#homepage-caption-0" class="current" style="width: 1349px; height: 899px; left: 0px; top: -174.5px; display: inline;">
                      <img src="/page/music/bobBan.png" alt="Slide 1" title="#homepage-caption-0" class="current" style="width: 1349px; height: 899px; left: 0px; top: -174.5px; display: inline;">
                        <img src="/page/music/swaraanchalBan.png" alt="Slide 1" title="#homepage-caption-0" class="current" style="width: 1349px; height: 899px; left: 0px; top: -174.5px; display: inline;">
                        <img src="/page/music/encoreBan.png" alt="Slide 1" title="#homepage-caption-0" class="current" style="width: 1349px; height: 899px; left: 0px; top: -174.5px; display: inline;">
                         <img src="/page/music/umlBan.png" alt="Slide 1" title="#homepage-caption-0" class="current" style="width: 1349px; height: 899px; left: 0px; top: -174.5px; display: inline;">
                        
                       
                    </div>



                    <div id="epic-overlay"></div>
                </div>
            </div>
            <div id="about" class="section odd desktop"><div  class="bgOfAbout"></div>
                <div class="content clearfix">
                    <!-- content Box Start  -->

                    <div class="section-title">
                        <h2>Music</h2>
                    </div>


                    <div class="column_one_third  last tl" style="margin-left:16em">
                        <div class="round-thumb-container " style="width:250px; max-width:100%; margin:auto;">
                            <div class="round-thumb lightbox" id="bob" >
                                <!-- add event name here in -->
                                <a title="Battle Of Bands" class="lightbox"  >
                                    <img class="roundImage " href="#" src="/page/music/bob.png"  alt="ARTIVAL" href="#">
                                </a>
                            </div>

                        </div>
                        <h5 style="text-align: center;">Battle Of Bands</h5>
                        <ul class="socialSmall" style="margin:0 auto;">
                            <li>
                                <a class="facebook" href="https://www.facebook.com/events/771855676213884" target="_blank"></a>
                            </li>
                        </ul>
                    </div>

                    <div class="column_one_third last tr">
                        <div class="round-thumb-container " style="width:250px; max-width:100%; margin:auto;">
                            <div class="round-thumb lightbox" id="aH">
                                <!-- add event name here in -->
                                <a title="Acoustic Hymns" class="lightbox" >
                                    <img  class="roundImage " href="#" src="/page/music/ah.png" alt="">
                                </a>
                            </div>

                        </div>
                        <h5 style="text-align: center;">Acoustic Hymns<h5>
                        <ul class="socialSmall" style="margin:0 auto;">
                            <li>
                                <a class="facebook" href="https://www.facebook.com/events/351064548407194" target="_blank"></a>
                            </li>
                        </ul>
                    </div>
                    
                    <div class="column_one_third last bl">
                        <div class="round-thumb-container " style="width:250px; max-width:100%; margin:auto;">
                            <div class="round-thumb lightbox" id="uml">
                                <!-- add event name here in -->
                                <a title="Underground Music League" class="lightbox" >
                                    <img class="roundImage "   href="#" src="/page/music/uml.png" alt="">
                                </a>
                            </div>

                        </div>
                        <h5 style="text-align: center;">UML</h5>
                        <ul class="socialSmall" style="margin:0 auto;">
                            <li>
                                <a class='facebook' href="https://www.facebook.com/events/871779209539121/?ref=5" target="_blank"></a>
                            </li>
                        </ul>
                    </div>
                    
                     <div class="column_one_third last br">
                        <div class="round-thumb-container " style="width:250px; max-width:100%; margin:auto;">
                            <div class="round-thumb lightbox"  href="#" id="swa">
                                <!-- add event name here in -->
                                <a title="Swaraanchal" class="lightbox" >
                                    <img class="roundImage "   src="/page/music/swaraanchal.png" alt="">
                                </a>
                            </div>

                        </div>
                        <h5 style="text-align: center;">Swaraanchal</h5>
                        <ul class="socialSmall" style="margin:0 auto;">
                            <li>
                                <a class="facebook" href="https://www.facebook.com/events/584442228324400/" target="_blank"></a>
                            </li>
                        </ul>
                    </div>
                    
                    <div class="column_one_half last bl">
                        <div class="round-thumb-container " style="width:250px; max-width:100%; margin:auto;">
                            <div class="round-thumb lightbox"  href="#" id="encore">
                                <!-- add event name here in -->
                                <a title="Singing Competition" class="lightbox" >
                                    <img class="roundImage "   src="/page/music/encore.png" alt="">
                                </a>
                            </div>

                        </div>
                        <h5 style="text-align: center;">Encore</h5>
                        <ul class="socialSmall" style="margin:0 auto;">
                            <li>
                                <a class="facebook" href="https://www.facebook.com/events/322516884614041/" target="_blank"></a>
                            </li>
                        </ul>
                    </div>


                    <div style="clear:both;"></div>

                    <style>
                    .bl{
                        margin-left: 210px;
                    }
                          
                    </style>

                </div>
                <!-- content Box End  -->
            </div>



        </div>
        <!--end wrapper-->
        <div class="modalL modal">
            <div class="bgRules"></div>
            <div class="rulebook nano" >
                <br>
                <ol class="orderedList nano-content">
                </ol>
            </div>
            <span class="spanExitButton" >&#215;</span>
        </div>
        <div class="modalR modal"><div class=" bgRulesForModalR"></div>
        </div>
        <!--start footer-->
        <% include /partials/footer.ejs %>
        <!--end footer-->
        <script src="/page/music/music.js"></script>
       <% include /partials/defaultJS.ejs %>
    </body>

</html>