<!DOCTYPE html PUBLIC "-//W3C//DTD XHTML 1.0 Transitional//EN" "http://www.w3.org/TR/xhtml1/DTD/xhtml1-transitional.dtd">

<html xmlns="http://www.w3.org/1999/xhtml" lang="en-US">

<head><% include partials/header.ejs %>
    </head>


    <body class="home page page-id-15 page-template-default">



        <!--<embed src="Music/dance.mp3" autostart=true loop=true style="height:0;width:0;display:hidden;"></embed>-->
        <!--start wrapper-->
        <div id="wrapper" style="display: block;">

<% include /partials/catBodyHead.ejs %>
            <div id="homepage" class="homepage section desktop" style="height: 550px;">
                <div id="epicSlider1" class="epicSlider theme-default slider-wrapper" style="background: none;">
                    <div id="slides">
                           
                    </div>

                    <div id="epic-overlay"></div>
                </div>
            </div>
            <div id="about" class="section even desktop">
                <div class="content clearfix"> <!-- content Box Start  -->
                
                    <div class="section-title">
                        <h2>Tresure Hunt</h2>
                    </div>


                    <div class="column_one_half last" style="margin-left:16em">
                        <div class="round-thumb-container " style="width:250px; max-width:100%; margin:auto;">
                            <div class="round-thumb lightbox" id="tHunt"> <!-- add event name here in -->
                                <a title="Now You Can See" class="lightbox" href="#">
                                    <img src="/page/dk.jpg" alt="" href="#">
                                </a>
                            </div>

                        </div>
                        <h5 style="text-align: center;">Treasure<span>Hunt</span></h5>
                        <ul class="socialSmall" style="margin:0 auto;">
                            <li>
                                <a class="facebook" href="https://www.facebook.com/events/1387994388164507/?ref=5" target="_blank"></a>
                            </li>
                        </ul>
                    </div>

                   
               
                    <div style="clear:both;"></div>
                
            

                </div> <!-- content Box End  -->
            </div>
          


        </div>
        <!--end wrapper-->
        <div class="modalL modal">
            <div class="bgRules"></div>
            <div class="rulebook nano" >
                <br>
                <ol class="orderedList nano-content">
                </ol>
            </div>
            <span class="spanExitButton" >&#215;</span>
        </div>
        <div class="modalR modal"><div class=" bgRulesForModalR"></div>
        </div>
        <!--start footer-->
        <% include /partials/footer.ejs %>
        <!--end footer-->
        <script src="/page/treasurehunt.js"></script>
       <% include /partials/defaultJS.ejs %>
    </body>

</html>