<meta http-equiv="Content-Type" content="text/html; charset=UTF-8">
    <style type="text/css">
        .gm-style .gm-style-mtc label,
        .gm-style .gm-style-mtc div {
            font-weight: 400
        }
    </style>
    <style type="text/css">
        .gm-style .gm-style-cc span,
        .gm-style .gm-style-cc a,
        .gm-style .gm-style-mtc div {
            font-size: 10px
        }
    </style>
    <link type="text/css" rel="stylesheet" href="/page/common/nano.css">
    <style type="text/css">
        @media print {
            .gm-style .gmnoprint,
            .gmnoprint {
                display: none
            }
        }
        @media screen {
            .gm-style .gmnoscreen,
            .gmnoscreen {
                display: none
            }
        }
    </style>
    <style type="text/css">
        .gm-style {
            font-family: Roboto, Arial, sans-serif;
            font-size: 11px;
            font-weight: 400;
            text-decoration: none
        }
    </style>

    <meta name="viewport" content="width=device-width, initial-scale=1.0, maximum-scale=1.0, user-scalable=no">
    <link rel="icon" 
      type="image/png" 
      href="/page/odysseySmall1.png" style><title><%= title %></title>
    <link rel="profile" href="http://gmpg.org/xfn/11">


    <link rel="stylesheet" type="text/css" href="/page/common/style.css">


    <link rel="stylesheet" type="text/css" href="/page/common/myStyle.css">
    
    <!--<link rel="stylesheet" type="text/css" href="modal.css">-->

    <link rel="stylesheet" href="http://fonts.googleapis.com/css?family=Open+Sans:400,700">
    <link rel="stylesheet" href="http://fonts.googleapis.com/css?family=Abril+Fatface">
    <link rel="stylesheet" href="http://fonts.googleapis.com/css?family=Quicksand">

    <script type="text/javascript" src="/page/common/jquery.js"></script>
    <link rel="stylesheet" id="flexslider-css" href="/page/common/flexslider.css" type="text/css" media="all">
    <link rel="stylesheet" id="fancybox-css" href="/page/common/jquery.fancybox-1.3.4.css" type="text/css" media="all">
    <link rel="stylesheet" id="udt_style-css" href="/page/common/styler.css" type="text/css" media="all">
    <link rel="stylesheet" id="epicslider-css" href="/page/common/epicslider.css" type="text/css" media="all">
    <link rel="stylesheet" id="udt_shortcodes-css" href="/page/common/udt_shortcodes.css" type="text/css" media="all">
    <link rel="stylesheet" id="udt-custom-content-css" href="/page/common/saved_resource" type="text/css" media="all">
    <link rel="stylesheet" id="udt_media_queries-css" href="/page/common/udt_media_queries.css" type="text/css" media="all">
    <script type="text/javascript" src="/page/common/jquery-migrate.min.js"></script>

    <script type="text/javascript">
        jQuery('head').append('<style>#wrapper, #footer{display:none;}</style>');
    </script>
    <style>
        #wrapper,
        #footer {
            display: none;
        }
    </style>
    <script type="text/javascript" charset="UTF-8" src="/page/common/common.js"></script>