	<header id="header">

				<!-- Logo --> 
                <img src="/images/odysseyChristmas.png" id="logo" style="margin-top:5px;"></img>
					<h1 id="logo">dyssey'15</h1>
				
				<!-- Nav -->
					<nav id="navv">
						<ul>
							
<!--							<li><a href="#intro">Home</a></li>-->
							<li><a href="/">Who are we?</a></li>
							<li><a href="/dance">Dance</a></li>
							<li><a href="/finearts">Fine Arts</a></li>
							<li><a href="music">Music</a></li>
							<li><a href="theatre">Theatre</a></li>
							<li><a href="digitalarts">Digital Arts</a></li>
							<li><a href="literary">Literary</a></li>
							<li><a href="chess">Chess</a></li>
							<li><a href="gaming">Gaming</a></li>
							<li><a href="lifestyle">Lifestyle</a></li>
							<li><a href="quizzing">Quizzing</a></li>
							<li><a href="/team">Team</a></li>
						</ul>
					</nav>

			</header>

<style>
    @charset 'UTF-8';
@import url('http://fonts.googleapis.com/css?family=Source+Sans+Pro:100,300,900');
    @import url('/mainPage/css/font-awesome.min.css');

    
    
#header {
    
		position: fixed;
		z-index: 10000;
		left: 0;
		top: 0;
		width: 100%;
		background: #fff;
		background: rgba(255,255,255,0.95);
		height: 3.7em;
		line-height: 3em;
		box-shadow: 0 0 0.15em 0 rgba(0,0,0,0.1);
	}
	
	#logo {
		position: absolute;
		left: 1em;
		top: 0;
		height: 4em;
		line-height: 1.8em;
		letter-spacing: -1px;
	}
    h1#logo {
        font-size: 20px;
        font-family: 'Source Sans Pro', sans-serif;
        font-weight: 600;
        margin-left:-33px;
    }
	
		#logo a {
			font-size: 1.25em;
            
		}
	
	#navv {
		position: absolute;
		right: 0.5em;
		top: 0;
		height: 3em;
		line-height: 1em;
	}

		#navv ul {
			margin: 0;
		}

			#navv ul li {
				display: inline-block;
				margin-left: 0.5em;
				font-size: 1.0em;
                font-family: 'Source Sans Pro', sans-serif; font-size: 18px;
                font-weight: 300;
			}
			
				#navv ul li a {
					display: block;
					color: inherit;
					text-decoration: none;
					height: 5em;
					line-height: 3em;
					padding: 0 0.5em 0 0.5em;
					outline: 0;
				}
</style>
